.navigation {
  background: #fff;
  height: 57px;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 100%;
  z-index: 1000;
  box-shadow: 15px 0px 53px -4px rgba(0, 0, 0, 0.1);

  display: flex;

  img {
    width: 5%;
    height: 100%;
    margin-left: 20%;
    padding-right: 2%;
  }

  .post {
    background: #e0446d;
    border-radius: 200px;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 11px;
    height: 27px;
    margin: 13px 10px 0 20px;
    text-align: center;
    text-shadow: 0 1px 1px #9a0137;
    width: 90px;
    margin-right: 40%;
    outline: none;
  }

  .avatar {
    background: url("../../assets/images/George.JPG");
    background-size: 32px 32px;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    margin-top: 14px;
    cursor: pointer;
  }
}
