.signUp__logo {
	margin-top: 20px;
	margin-bottom: 0px;
}

.sign-up__header {
	text-transform: uppercase;
}
.signUp__logo--pic {
	height: 34px;
	width: 34px;
	margin-right: 12px;
}

.signUp__logo--font {
	height: 31px;
	width: 110px;
}

.signin__text--bottom {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: right;
	color: #646464;
}

.signin__link--bottom {
	text-decoration: none;
	margin: 0 5px;
	color: #2196f3;
}

label {
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	margin-left: 2px;
}
