@import "../../../theme/variables.scss";

.client-account__form {
	.account__progress--container {
		text-align: center;
		padding-top: 30%;
	}
	.account__form--header {
		font-family: Nunito;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 27px;
		text-transform: uppercase;
		color: $primary-color-blue;
		margin: 15px;
	}

	h5 {
		margin-left: 10%;
		margin-top: 3%;
		margin-bottom: 3%;
		font: $primary-font-family;
	}

	.account__form--container {
		margin-left: 4vh;
		margin-right: 4vh;
		&:nth-of-type(2) {
			border-bottom: solid #c4c4c4;
		}
		
		.account__form--edit {
			position: absolute;
			top: 10%;
			left: 70%;
			@media (max-width: $mediaXsWidth) {
				top: 10.5vh;
				left: 60vw;
			}
		}
		.account__form--personal {
			display: flex;
			flex-direction: column;
			margin-left: 8vh;
			margin-bottom: 0;
			font: $primary-font-family;
			padding-bottom: 2vh;
			margin-right: 10vh;
			@media (max-width: $mediaXsWidth) {
				margin: 10px 0 0 0px;
			}
			.account__form--input-description {
				width: 40vw;
				@media (max-width: $mediaMdWidth) {
					width: 50vw;
				}
				@media (max-width: $mediaSmWidth) {
					width: 65vw;
				}
				@media (max-width: $mediaXsWidth) {
					width: 75vw;
				}
			}
			.account__form--input {
				width: 50%;
				@media (max-width: $mediaXsWidth) {
					width: 70vw;
				}
			}
		}
	}

	.account__form--avatar {
		display: flex;
		flex-direction: column;
		margin-left: 8vh;
		margin-bottom: 0;
		font: $primary-font-family;
		padding-bottom: 2vh;
		margin-right: 10vh;
		@media (max-width: $mediaXsWidth) {
			margin: 10px 0 0 0px;
		}
		&-file {
			width: 50%;
			margin-bottom: 16px;
			@media (max-width: $mediaXsWidth) {
				width: 70vw;
			}
		}
		&-upload {
			width: 50%;
			margin-bottom: 16px;
			@media (max-width: $mediaXsWidth) {
				width: 70vw;
			}
		}
	}

	.account__form--contact {
		display: flex;
		flex-direction: column;
		margin-left: 12vh;
		margin-bottom: 0;
		font: $primary-font-family;
		margin-right: 10vh;
		@media (max-width: $mediaXsWidth) {
			margin: 10px 0 0 30px;
		}
		.account__form--input {
			width: 50%;
			@media (max-width: $mediaXsWidth) {
				width: 70vw;
			}
		}
	}

	.account__form--button {
		margin-top: 3vh;
		margin-left: 12vh;
		@media (max-width: $mediaXsWidth) {
			margin: 15px 30px;
		}
	}

	.account__form--error {
		width: 30vh;
		margin-top: 1vh;
	}
}
