
h3 {
    margin-left: 10%;
}

.account__form {
  display: flex;
  flex-direction: column;
  margin-left: 10vh;
  margin-top: 5vh;
}

.account__form--input {
  width: 30%;
}

.account__from--button {
  margin-top: 3vh;
}
