.client__container--whole-page {
	padding-top: 70px;
	width: 1024px;
	border: solid 1px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	background-color: #fdfefe;
	display: flex;
	justify-content: space-between;
	box-shadow: 15px 0px 53px -4px rgba(0, 0, 0, 0.1);
	min-height: calc(100vh - 75px);
}

.client__avatar-container--left-top {
	text-align: center;
}
.client__sidebar--page-left {
	width: 230px;
	box-shadow: 15px 0px 53px -4px rgba(0, 0, 0, 0.1);
	@media screen and (max-width: 786px) {
		display: none;
	}
}

.client__content-container--page-right {
	width: 794px;
}

.client__avatar-progress--container {
	text-align: center;
	margin: 50px auto 60px;
	color: #ebebeb;
}

.client__burgerIcon {
	@media screen and (min-width: 786px) {
		display: none;
	}
	margin: 20px;
	cursor: pointer;
	height: 10%;

}
