@import "../../../theme/variables.scss";

.notification__container--whole {
	text-align: center;
	margin-top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	font-family: Nunito;
	line-height: 24px;
	@media (max-width: $mediaXsWidth) {
		margin-top: 40vh;
		font-size: 14px;
		margin-left: 20px;
		margin-right: 20px;
	}

	.notification__img--center {
		border: none;
		display: block;
		max-width: 300px;
		max-height: 150px;
		margin: 20px auto;
		@media (max-width: $mediaXsWidth) {
			max-width: 240px;
		}
	}
	.notification__button-container--center {
		display: flex;
		align-items: center;
		width: 60%;
		@media (max-width: "320px") {
			width: 70%;
		}
	}
}
