h3 {
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.password__form {
  margin-left: 10%;
  ul {
    margin-top: 5%;
    list-style: none;
    padding-left: 0;
    li{
      padding-bottom: 5%;
      width: 50%;
    }
  }
}

