@import "../../../../theme/variables.scss";

.account__progress--container {
	text-align: center;
	padding-top: 30%;
}
.account__form--header {
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	text-transform: uppercase;
	color: $primary-color-blue;
	margin: 15px;
}

h5 {
	margin-left: 10%;
	margin-top: 3%;
	margin-bottom: 3%;
	font: $primary-font-family;
}

.account__form--container {
	margin-left: 4vh;
	margin-right: 4vh;
	border-bottom: solid #c4c4c4;
}

.account__form--edit {
	position: absolute;
	top: 15%;
	left: 70%;
}
.account__form--personal {
	display: flex;
	flex-direction: column;
	margin-left: 8vh;
	margin-bottom: 0;
	font: $primary-font-family;
	padding-bottom: 2vh;
	margin-right: 10vh;
}

.account__form--contact {
	display: flex;
	flex-direction: column;
	margin-left: 12vh;
	margin-bottom: 0;
	font: $primary-font-family;
	margin-right: 10vh;
}

.account__form--input {
	width: 50%;
}

.account__from--button {
	margin-top: 3vh;
	margin-left: 12vh;
}
.account__form--error {
	width: 30vh;
	margin-top: 1vh;
}
