.login__logo {
    margin-top: 20px;
    margin-bottom: 0px;
}

.login__logo--pic {
    height: 34px;
    width: 34px;
    margin-right: 12px;
}

.login__logo--font {
    height: 31px;
    width: 110px;
}

label {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}
