@import "../../../theme/variables.scss";

.dashboard__container--whole {
	font-family: Nunito;
	font-style: normal;
	.dashboard__header--top {
		font-weight: bold;
		font-size: 20px;
		line-height: 27px;
		text-transform: uppercase;
		color: #3f88de;
		margin: 15px;
	}

	.dashboard__paragraph--title {
		font-weight: bold;
		font-size: 20px;
		line-height: 27px;
		color: #000000;
		margin: 10px 15px;
	}

	.dashboard__paragraph--content {
		margin: 0 15px 10px;
		font-size: 16px;
		line-height: 22px;
		color: #949494;
	}

	.dashboard__post-button--pink {
		background: $primary-color-rose;
		border-radius: 200px;
		color: #fff;
		cursor: pointer;
		font-size: 15px;
		font-weight: bolder;
		height: 40px;
		margin: auto;
		text-align: center;
		text-shadow: 0 1px 1px #9a0137;
		width: 120px;
		outline: none;
		display: block;
	}

	.list-array__container--whole {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.card__title--black {
		font-weight: bold;
		font-size: 16px;
		color: #757575;
		margin: 10px 0 0 18px;
	}
	.card__number--top-right {
		position: absolute;
		right: 15px;
		top: 0;
		color: #999999;
	}

	.card__number-container--top-right {
		position: absolute;
		right: 15px;
		top: 10px;
		text-align: center;
		color: #ebebeb;
	}

	.Chart__container--whole {
		padding: 20px 20px 10px;
		margin-bottom: 30px;
	}

	.comment__whole--container {
		p {
			text-align: center;
			margin-top: 30px;
		}
		.comment__progress--container {
			text-align: center;
			margin-top: 50px;
		}
		.single-comment__whole--container {
			position: relative;
		}
		.comment__avarta--container {
			margin: 20px;
			display: inline-block;
		}
		.comment__rating--container {
			margin: 20px 0;
			display: inline-block;
			@media (max-width: $mediaXsWidth) {
				margin: 20px 0 0;
			}
		}

		.comment__orderId--container {
			position: absolute;
			top: 30px;
			right: 20px;
			font-size: 14px;
			color: #949494;

			.comment__orderId--link {
				text-decoration: none;
				color: #949494;
				cursor: pointer;
				&:hover {
					color: $primary-color-blue;
				}
			}
			@media (max-width: $mediaXsWidth) {
				display: block;
				position: static;
				margin: 0 0 30px 95px;
			}
		}
		.comment__content--container {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
			margin: 0 20px;
			background-color: #f6f8fd;
			min-height: 40px;
			border-radius: 5px;
			padding: 5px 20px;
			font-family: Nunito;
		}
	}
}
