$primary-color-blue: #2196f3;
$primary-color-rose: #f50057;
$second-color-lightgreen: #66bb6a;
$second-color-darkgreen: #43a047;
$second-color-lightred: #ef5350;
$second-color-red: #e53935;
$third-color-lightcyan: #26c6da;
$third-color-cyan: #00acc1;
