$primary-color-blue: #3f88de;
$primary-color-rose: #f50057;
$secondary-color-lightgreen: #66bb6a;
$secondary-color-darkgreen: #43a047;
$secondary-color-lightred: #ef5350;
$secondary-color-red: #e53935;
$tertiary-color-lightcyan: #26c6da;
$tertiary-color-cyan: #00acc1;

$primary-font-family: Arial, Helvetica, sans-serif;

//breakpoints

$mediaLgWidth: 1920px;
$mediaMdWidth: 1280px;
$mediaSmWidth: 960px;
$mediaXsWidth: 600px;
$mediaXxsWidth: 400px;
