@import "../../../theme/variables.scss";

.service__container--whole {
	top: 70px;
    position: relative;
	font-family: Nunito;
	font-style: normal;
	text-align: center;
	background-color: #fff;

	.service__header--top {
		font-weight: bold;
		font-size: 2rem;
		line-height: 3rem;
		text-transform: uppercase;
		color: #3f88de;
		margin: 0 auto;
		padding-top: 20px;
	}

	.service__paragraph--title {
		display: inline-block;
		font-weight: bold;
		font-size: 20px;
		line-height: 3rem;
		color: #000000;
	}

	.service__paragraph--content {
		margin: 0 15px 10px;
		font-size: 16px;
		line-height: 22px;
		color: #949494;
	}

	.list-array__container--whole {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 60vw;
		margin: 0 auto;
	}

	.list-array__icon--single {
		height: 6rem;
		width: 6rem;
	}

	.list-array__container--single {
		text-align: center;
		display: inline-block;
		margin: 0.8rem 2rem;

		& .MuiFab-root {
			border-radius: 5px;
			width: 12rem;
			height: 12rem;
			margin-bottom: 15px;
		}

		& span {
			font-size: 1.2rem;
		}
	}
	.service__button--homepage {
		margin-left: 50rem;
		margin-top: 10px;
		font-size: 14px;
		color: #0008;
		border-radius: 0;
		border-bottom: 1px solid #0008;
		padding: 0;
		text-transform: none;
		&:hover {
			color: $primary-color-blue;
			border-bottom: 1px solid $primary-color-blue;
			background-color: transparent;
		}
	}
}
