@import '../../../theme/variables.scss';

$secondary-text-color: rgb(194, 194, 194);

.order-history__container {
    margin-top: 40px;
    margin-bottom: 20px
}

.order-card__status {
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
    color: $secondary-color-darkgreen;
}

.order-card__list {
    font-family: $primary-font-family;
    list-style: none;
    padding: 0px;
    font-size: 15px;
    li {
        line-height: 24px;
        display: flex;
        vertical-align: middle;
        margin-bottom: 10px;
        span {
            padding-left: 10px;
        }
    }

}
.order-card__right {
    text-align: right;
    .order-card__avatar {
        margin: auto 0 auto auto;
        width: 40px;
        height: 40px;
    }
}

.order-information {
    padding: 20px;
    border-top: solid 3px #eee;
}
.order-information__head {
    display: flex;
    align-items: center;
}
.order-information__status {
    display: flex;
    list-style: none;
    padding: 0;
    font-family: $primary-font-family;
    font-size: 15px;
    li {
        padding: 5px 10px;
        border-radius: 20px;
        color: $secondary-text-color;
    }
}
.order-information__status .order-information__status-active {
    color: $secondary-color-darkgreen;
    background-color: $secondary-color-lightgreen;
}
.MuiGrid-container .MuiToggleButton-root {
    border: none;
    line-height: 1;
    border-radius: 20px;
    background-color: #eee;
}
.order-information__head .MuiToggleButton-root.Mui-selected {
    color: $secondary-color-darkgreen;
}
.order-information__postTime {
    font-family: $primary-font-family;
    color: $secondary-text-color;
}
.order-information__map {
    .MuiBackdrop-root {
        z-index: 10;
    }
}
.order-information__business {
    .MuiBackdrop-root {
        z-index: 10;
        background-color: white;
    }
}

.order-information__budget {
    text-align: center;
    // padding: 10px 0 0;
}
.order-information__offer {
    &--btn {
        width: 100%;
        font-size: 20px;
        color: white;
        background-color: $secondary-color-darkgreen;
        padding: 15px;
        border-radius: 30px;
        border: none;
    }

}
.order-information__share {
    &--label {
        background: white;
        width: fit-content;
        margin: auto;
        margin-top: -10px;
    }
    .MuiFormLabel-root {
        padding: 0 10px;
    }
    &--whole {
        display: flex;
        justify-content: center;
    }
    &--single {
        margin: 10px;
        color: $secondary-text-color;
    }
}

.order-information__details {
    margin-top: 40px;
    &--list {
        list-style: none;
        line-height: 1.5;
        padding-left: 10px;
    }
}

