@import "../../../theme/variables.scss";

.business__container--whole-page {
	& .browse-orders {
		& .browse-orders--top-bar {
			background-color: #05274206;
			display: flex;
			flex-direction: row;
			// align-items: flex-end;
			justify-content: flex-end;
			align-items: stretch;
			padding-top: 0.8rem;
			padding-bottom: 0.6rem;

			margin-bottom: 0.4rem;

			& .MuiInput-colorSecondary.MuiInput-underline:after {
				border-bottom-color: $primary-color-blue;
			}

			& .MuiButton-textSecondary {
				color: $primary-color-blue;
				&:hover {
					background-color: #2195f31a;
				}
			}

			&--date-posted {
				& .MuiFormControl-root {
					// margin-bottom: 5px;
					& .MuiInputBase-root {
						font-size: 13px;
						color: #0009;
					}
				}
			}

			&--search {
				margin-left: 15rem;
				& .MuiInputBase-root {
					font-size: 13px;
					color: #000;
				}
			}

			&--new-tasks {
				& .MuiFormControlLabel-labelPlacementStart {
					margin-left: 3rem;
					& .MuiTypography-body1 {
						font-size: 13px;
						color: #0009;
					}

					& .MuiSwitch-colorSecondary.Mui-checked {
						color: $primary-color-blue;

						&:hover {
							background-color: #2195f31a;
						}
					}
					& .MuiSwitch-colorSecondary.Mui-checked + .MuiSwitch-track {
						background-color: $primary-color-blue;
					}
				}
			}
		}

		& .order-history__container {
			margin: 0 10px 0 15px;
			& .browse-orders--container {
				margin-top: 0;
				margin-bottom: 0;
			}
		}
	}

	// & .browse-orders--pagination {
	// }
}
