.order-information__details--list {
	display: flex;
	flex-wrap: wrap;
	.order-information__details--singlelist {
		flex-basis: 50%;
		min-width: 250px;
		display: flex;
		align-items: center;
		margin-bottom: 15px;
		.order-information__icon--pic {
			width: 30px;
			margin-right: 20px;
		}

		.order-information__icon--title {
			display: inline-block;
			font-weight: bold;
			opacity: 0.7;
		}
	}
}
