.nav-bar__header--white {
	background-color: rgba(245, 246, 253, 0.9);
	height: 70px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	z-index: 100;
	position: fixed;
	font-family: Nunito;
	margin: 0;
	overflow: visible;
	div {
		align-items: center;
	}
	.nav-bar__logo--pic {
		width: 48px;
		height: 48px;
		margin: 10px 10px 5px;
	}
	.nav-bar__logo--font {
		width: 177px;
		height: 37px;
		margin: 10px;
	}

	.nav-bar__items--container {
		// @media screen and (max-width: 786px) {
		// 	display: none;
		// }
		display: flex;
		.nav-bar__ul--black {
			display: flex;
			list-style: none;
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 27px;
			justify-content: space-around;
			padding: 0;
			li {
				.nav-bar__link--black {
					text-decoration: none;
					color: black;
					margin: 0 20px;
				}

				.nav-bar__link--black:hover {
					color: #3f88de;
				}
			}
		}
		.nav-bar__avatar--container {
			margin: 0 20px;
		}
		.nav-bar__button--blue {
			margin: 0 0 0 30px;
		}
	}

	.nav-bar__menu-icon {
		// @media screen and (min-width: 786px) {
		// 	display: none;
		// }
		margin: 20px;
		cursor: pointer;
		right: 0;
	}

	// .nav__menuIcon{
	// 	@media screen and (min-width: 786px) {
	// 		display: none;
	// 	}
	// 	color: #3f88de;
	// 	cursor: pointer;
	// }
}
