@import "../../../theme/variables.scss";

.support__container--whole {
	top: 70px;
	position: relative;
	font-family: Nunito;
	font-style: normal;
	text-align: center;
	background-color: #fff;

	.support__header--top {
		font-weight: bold;
		font-size: 2rem;
		line-height: 3rem;
		text-transform: uppercase;
		color: #3f88de;
		margin: 0 auto;
		padding-top: 3rem;
	}

	.support__paragraph--title {
		display: inline-block;
		font-weight: bold;
		font-size: 20px;
		line-height: 3rem;
		color: #000000;
	}

	.list-array__container--whole {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 80vw;
		margin: 20px auto;
		padding: 2rem auto;
	}

	.support__button--homepage {
		font-size: 14px;
		color: #0008;
		border-radius: 0;
		border-bottom: 1px solid #0008;
		padding: 0;
		text-transform: none;
		&:hover {
			color: $primary-color-blue;
			border-bottom: 1px solid $primary-color-blue;
			background-color: transparent;
		}
	}
}
