@import "../../theme/variables.scss";

.product-hero__background--gradient {
	background: linear-gradient(
			rgba(254, 254, 254, 0.2),
			rgba(254, 254, 254, 0.2)
		),
		url("../../assets/images/homepage.png");
	background-size: cover;
	height: 100vh;
	@media (max-width: $mediaSmWidth) {
		height: 650px;
	}
	@media (max-width: $mediaXsWidth) {
		height: 600px;
		.MuiContainer-root {
			margin-bottom: 0;
		}
	}
}

.product-hero__title--black {
	margin-top: 150px;
	font-family: Nunito;
	font-style: normal;
	font-weight: 1000;
	font-size: 48px;
	line-height: 65px;
	text-transform: uppercase;
	text-align: center;
	color: #000000;

	@media (max-width: $mediaSmWidth) {
		font-size: 36px;
	}
	@media (max-width: $mediaXsWidth) {
		font-size: 24px;
	}
	@media (max-width: $mediaXxsWidth) {
		font-size: 20px;
	}
}

.product-hero__text--black {
	margin: 15px auto 30px;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 55px;
	text-align: center;
	color: #000000;
	@media (max-width: $mediaSmWidth) {
		font-size: 24px;
	}
	@media (max-width: $mediaXsWidth) {
		font-size: 18px;
	}
	@media (max-width: $mediaXxsWidth) {
		font-size: 14px;
	}
}
.product-values__img--blue {
	height: 60px;
	margin: 30px 0;
	height: 120px;
	width: 120px;
}

.product-values__title--black {
	font-family: Nunito;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 33px;
}

.product-values__text--black {
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	margin-top: 20px;
}

.homepage-child-components__title--black {
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 49px;
	text-align: center;
	color: #000000;
	margin-bottom: 50px;
}

.product-value__container--whole {
	margin: 200px auto 150px;
}
.product-how-it-works__title--black {
	font-size: 25px;
	font-family: Nunito;
}
.product-how-it-works {
	.product-how-it-works__single-container--grey {
		height: 409px;
		background: #e5e5e5;
		border-radius: 20px;
		padding: 40px;
		min-width: 320px;
		text-align: center;
		@media (max-width: $mediaMdWidth) {
			min-width: 230px;
			height: 380px;
			padding: 20px 28px 0 20px;
		}
		div {
			font-weight: 600;
			font-size: 20px;
			line-height: 27px;
			margin-top: 20px;
		}
		p {
			font-size: 18px;
			line-height: 27px;
		}
	}
}

.productcta__container--whole {
	background: linear-gradient(
			rgba(245, 246, 253, 0.3),
			rgba(245, 246, 253, 0.5)
		),
		url("../../assets/images/footpicture.jpg");
	background-size: cover;
	height: 420px;
	padding-left: 180px;

	@media (max-width: $mediaSmWidth) {
		padding-left: 130px;
	}
	@media (max-width: $mediaXsWidth) {
		padding-left: 40px;
	}
	@media (max-width: $mediaXxsWidth) {
		padding-left: 30px;
	}

	.productcta__title--black {
		font-weight: bold;
		font-size: 24px;
		line-height: 33px;
		padding-top: 50px;
		margin-bottom: 30px;
		@media (max-width: $mediaXsWidth) {
			font-size: 16px;
			margin-bottom: 15px;
		}
		@media (max-width: $mediaXxsWidth) {
			font-size: 14px;
		}
	}

	.product-container__input-container--whole {
		position: relative;
		margin-top: 25px;
		width: 700px;
		@media (max-width: $mediaMdWidth) {
			width: 500px;
		}

		@media (max-width: $mediaSmWidth) {
			width: 400px;
		}
		@media (max-width: $mediaXsWidth) {
			width: 280px;
		}
		@media (max-width: $mediaXxsWidth) {
			width: 260px;
		}
	}

	.product-container__button--blue {
		position: absolute;
		right: 0;
		top: 0;

		@media (max-width: $mediaXsWidth) {
			width: 80px;
		}
		@media (max-width: "350px") {
			padding: 65px 60px 0 0;
		}
	}

	.product-container__button--blue-thin {
		height: 52px;
		width: 225px;
	}
}

.footer__container--main {
	background-color: #646464;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 2rem 0 2rem 5rem;

	@media (max-width: $mediaMdWidth) {
		padding: 2rem 0 2rem 1rem;
	}
	@media (max-width: $mediaSmWidth) {
		padding: 2rem 0 2rem 2rem;
	}
	@media (max-width: $mediaXsWidth) {
		padding: 2rem 0 2rem 2.5rem;
	}
	@media (max-width: $mediaXxsWidth) {
		padding: 2rem 0 2rem 2rem;
	}

	h3 {
		font-family: Nunito;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		line-height: 22px;
		color: #edf4ff;
		@media (max-width: $mediaSmWidth) {
			font-size: 14px;
		}
	}

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		margin: 10px 15px 10px 0;
		font-family: Nunito;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		color: #edf4ff;
		padding: 0;
	}

	.footer__button-img--single {
		width: 165px;
		margin: 0;
		padding: 0;
	}

	.footer__links--white {
		text-decoration: none;
		color: white;
	}
	button {
		border-radius: 10px;
		padding: 0;
		margin: 10px 0 10px -10px;
		height: 53px;
		background-color: black;
		outline: none;
		display: block;
	}
}
.footer__copywirte--black {
	background: #2f3439;
	color: #c4c4c4;
	display: flex;
	justify-content: space-around;
	min-height: 54px;
	align-items: center;
	@media (max-width: $mediaXsWidth) {
		font-size: 8px;
	}
	@media (max-width: $mediaXxsWidth) {
		font-size: 6px;
	}
}

.footer__logo--white {
	font-weight: bold;
}
