.business__container--whole-page {
	padding-top: 70px;
	width: 1024px;
	border: solid 1px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	background-color: #fdfefe;
	display: flex;
	justify-content: space-between;
	box-shadow: 15px 0px 53px -4px rgba(0, 0, 0, 0.1);
	min-height: 100vh;
}

.business__avatar-container--left-top {
	text-align: center;
}
.business__sidebar--page-left {
	width: 230px;
	box-shadow: 15px 0px 53px -4px rgba(0, 0, 0, 0.1);
}

.business__content-container--page-right {
	width: 794px;
}
