@import "../../../theme/variables.scss";

.password__form-container {
	.password__form--header {
		font-family: Nunito;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 27px;
		text-transform: uppercase;
		color: $primary-color-blue;
		margin: 15px;
	}
	.password__form {
		margin-top: 10vh;
		margin-left: 10vh;
		ul {
			margin-top: 5%;
			list-style: none;
			padding-left: 0;
			li {
				padding-bottom: 5%;
				width: 50%;
				@media (max-width: $mediaXsWidth) {
					width: 60vw;
				}
			}
		}
	}
}
