.dashboard__header--top {
  font-size: 20px;
  margin: 20px;
}

.dashboard__paragraph--title {
  font-size: 30px;
  margin: 20px;
}

.dashboard__paragraph--content {
  margin-left: 20px;
}

.dashboard__post-button--pink {
  background: #f50057;
  border-radius: 200px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bolder;
  height: 40px;
  margin: auto;
  text-align: center;
  text-shadow: 0 1px 1px #9a0137;
  width: 120px;
  outline: none;
  display: block;
}

.list-array__container--whole {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
}

.list-array__container--single {
  text-align: center;
  display: inline-block;
  margin: 10px;
  width: 100px;
}
