@import "../../../theme/variables.scss";

.dashboard__container--whole {
	font-family: Nunito;
	font-style: normal;
	.dashboard__header--top {
		font-weight: bold;
		font-size: 20px;
		line-height: 27px;
		text-transform: uppercase;
		color: $primary-color-blue;
		margin: 15px;
	}

	.dashboard__paragraph--title {
		font-weight: bold;
		font-size: 20px;
		line-height: 27px;
		color: #000000;
		margin: 10px 15px;
	}

	.dashboard__paragraph--content {
		margin: 0 15px 10px;
		font-size: 16px;
		line-height: 22px;
		color: #949494;
	}

	.dashboard__post-button--pink {
		background: $primary-color-rose;
		border-radius: 200px;
		color: #fff;
		cursor: pointer;
		font-size: 15px;
		font-weight: bolder;
		height: 40px;
		margin: auto;
		text-align: center;
		text-shadow: 0 1px 1px #9a0137;
		width: 120px;
		outline: none;
		display: block;
	}

	.list-array__container--whole {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.list-array__icon--single {
		height: 28px;
		width: 28px;
	}

	.list-array__container--single {
		text-align: center;
		display: inline-block;
		margin: 10px;
		width: 100px;
	}

	.card__title--black {
		font-weight: bold;
		font-size: 16px;
		color: #757575;
		margin: 10px 0 0 18px;
	}
	.card__number--top-right {
		position: absolute;
		right: 15px;
		top: 0;
		color: #999999;
	}

	.card__number-container--top-right {
		position: absolute;
		right: 15px;
		top: 10px;
		text-align: center;
		color: #ebebeb;
	}
}
