@import "./theme/variables.scss";
body {
	font-family: $primary-font-family;
	margin: 0;
}
.app__container--whole-page {
	background-color: #f5f6fd;
}

.app__canvas-wrapper {
	position: fixed;
	z-index: 0;
	width: 100%;
}
