.notification__container--whole {
	text-align: center;
	margin-top: 50%;
	transform: translateY(-50%);
	font-size: 16px;
	font-family: Nunito;
	line-height: 24px;

	.notification__img--center {
		border: none;
		display: block;
		max-width: 300px;
		max-height: 150px;
		margin: 20px auto;
	}
	.notification__button-container--center {
		display: flex;
		justify-content: space-around;
		width: 60%;
		margin: 50px auto;
	}
}
