name: CI CD

on:

  push:

    branches:

      - master


jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2

    - name: Use Node.js ${{ matrix.node-version }}

      uses: actions/setup-node@v1

      with:

        node-version: ${{ matrix.node-version }}

    - name: Install dependencies

      uses: borales/actions-yarn@v2.0.0

      with:

        cmd: install

    - name: Build artifact

      uses: borales/actions-yarn@v2.0.0

      with:

        cmd: build    

    - name: upload artifact

      uses: actions/upload-artifact@master

      with:

        name: build

        path: build     

  test:

    runs-on: ubuntu-latest


    steps:

    - uses: actions/checkout@v2

    - name: Install dependencies

      uses: borales/actions-yarn@v2.0.0

      with:

          cmd: install




    - name: Run tests

      uses: borales/actions-yarn@v2.0.0

      with:

          cmd: test --watchAll=false

        

  deploy:

    needs: [build, test]

    

    runs-on: ubuntu-latest




    steps:

    - name: download artifact

      uses: actions/download-artifact@master

      with:

        name: build

      

    - name: deploy to S3

      run: |


        aws s3 rm s3:// find-cleaner --recursive

        aws s3 cp build s3://find-cleaner/ --recursive

      env:

        AWS_DEFAULT_REGION: ap-southeast-2

        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}

        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
